<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <!--   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> -->
  <title>SAC 2014</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/app.js"></script>  
  
  <script src="data.js"></script> 
  <script src="master.js"></script> 
  <script src="detail.js"></script>


<!-- mobile -->
    <meta name="viewport" 
    content="width=device-width, 
    initial-scale=1,
    minimum-scale=1.0,
    maximum-scale=1.0,
    minimal-ui" />


</head>

<body>
  <ons-screen>


 <ons-navigator title="SAC 2014">
      <ons-page class="center">

        <div ng-controller="MasterController" >
            <ons-search-input class="searchbox" ng-model="searchText" placeholder="Search"></ons-search-input>
          <ons-list class="main-content-list">
                <!-- <ons-list-item  style="padding:0px;margin:0px;">
                  <ons-search-input class="searchbox" ng-model="searchText" placeholder="Smart Search. Tap titles below for details."></ons-search-input>
                </ons-list-item> -->


                <ons-list-item
                  class="topcoat-list__item--tappable topcoat-list__item__line-height" 
                  ng-repeat="item in items | filter:searchText | orderBy:item.Program"
                  ng-click="showDetail2(item)">


                    <ons-row>

                      <ons-col size="90">

                        <h3 class="left">{{item.Title|truncate:50}}</h3>
                        <ons-row>
                            <ons-col class="left">
                              <p class="">{{item.Student|truncate:15}}</p>
                            </ons-col>

                            <ons-col class="left">

                                <div ng-if="item.Program">
                                   <p class="program-tag"><span>{{item.Program|truncate:15}}</span></p>

<!--                                     <div>From: {{message.from.name}}</div>
 -->                                </div>    

                            </ons-col>
                        </ons-row>
                  
                      </ons-col>

                      <ons-col size="10" class="list-icon">
                        <ons-icon class="right"
                          icon="angle-right">
                        </ons-icon>
                      </ons-col>
                  </ons-row>
                </ons-list-item>
                <ons-list-item>
                  <p style="padding:30px;">&copy; Copyright 2014 <a target="_blank" href="http://www.sahoism.com">M. Saho</a></p>
                </ons-list-item>
            </ons-list>
        </div>    
      </ons-page>
    </ons-navigator>
  </ons-screen>
  <div class="footer"></div>




  <!-- Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-27921982-1', 'sahoism.com');
    ga('send', 'pageview');

  </script>
  <!-- End Analytics -->
</body>
</html>
