<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"> -->
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/topcoat-mobile-onsen-ios7.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/app.js"></script>  
  
  <script src="data.js"></script> 
  <script src="master.js"></script> 
  <script src="detail.js"></script> 
</head>

<body>
  <ons-screen>
    <ons-search-input class="searchbox" ng-model="searchText" placeholder="Smart Search. Tap titles below for details."></ons-search-input>
    <ons-navigator title="SAC 2014">
      <ons-page class="center">
        <!-- <div>hahahahah</div> -->
        <div ng-controller="MasterController">
          <ons-list>
                <!-- <ons-list-item  style="padding:0px;margin:0px;">
                  <ons-search-input class="searchbox" ng-model="searchText" placeholder="Smart Search. Tap titles below for details."></ons-search-input>
                </ons-list-item> -->
                <ons-list-item
                  class="topcoat-list__item--tappable topcoat-list__item__line-height" 
                  ng-repeat="item in items | filter:searchText | orderBy:item.Program"
                  ng-click="showDetail2(item)">
                  <h3 class="left">{{item.Title|truncate:50}}</h3>
                  <ons-row>
                      <ons-col class="left">
                        <p class="">{{item.Student|truncate:25}}</p>
                      </ons-col>

                      <ons-col class="left">
                        <p class="">{{item.Program|truncate:25}}</p>
                      </ons-col>
                  </ons-row>
                </ons-list-item>
                <ons-list-item  style="margin-bottom:40px;">
                  <p style="padding:30px;">&copy; Copyright 2014 <a href="http://www.sahoism.com">M. Saho</a></p>
                </ons-list-item>
            </ons-list>
        </div>    
      </ons-page>
    </ons-navigator>
  </ons-screen>
  <div class="footer"></div>
</body>
</html>
