@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Cinzel+Decorative:700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.left {
	text-align: left;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	color: #d34937;
	margin-top: 0px;
	margin-bottom: 0px;
}

.front {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: -1; position:relative
}

.abstract{
	margin-left: 10px;
	margin-right: 10px;
}