@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Cinzel+Decorative:700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  /*  background-color: #153A5F;*/
}

.left {
	text-align: left;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	color: #d34937;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4{
	font-family: 'Open Sans', sans-serif;
	color: #5D5D5D;
	margin-bottom: 0px;
}

.detail-student{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.searchbox{
	line-height: 2.5rem;
	font-size: 1.25rem;
	height: 2.5rem;
}

.front {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: -1; position:relative
}

.abstract{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 90px;
}

.footer{
	margin-bottom: 100px;
}