@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  /*  background-color: #153A5F;*/
}

.left {
	text-align: left;
}

a,p{
	font-family: 'Josefin Sans', sans-serif;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.4em;
}

h3{
	font-family: 'Open Sans', sans-serif;
	color: #d34937;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.4em;
	font-size: 1em;
}

h4{
	font-family: 'Open Sans', sans-serif;
	color: #5D5D5D;
	margin-bottom: 0px;
}

.detail-student{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.searchbox{
	line-height: 2.5rem;
	font-size: 1.25rem;
	height: 2.5rem;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	/*border: 2px solid #FF4000;*/


	display: block;
	position: absolute;
	left:0px;
	top:0px;
	z-index:10000000;

}

.main-content-list ul>:first-child{
	margin-top: 2.5rem;

}

.main-content-list ul>li{
	padding-top: 1em;
	padding-bottom: 1em;

}

.detail-title{
	margin: 10px;
}

.list-icon {
width: 50%;
height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;  bottom: 0;  right: 0;

}

.front {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: -1; position:relative
}

.abstract{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
}

.abstract-text{
	/*font-family: 'Kite One', sans-serif;*/
}

.back{
	margin-bottom: 10px;
}

.topcoat-navigation-bar__title{
	color: #FF4000;
}

.page{
	background-color: #FFFFFF;
}

.my-footer{
	margin-bottom: 50px;
	margin-top: 20px;
}